@{
    ViewData["Title"] = "Taskaria - Home Page";
}

<div class="text-center">
    <h1 class="display-4">Witaj w Taskaria</h1>
    <p>Taskaria to projekt związany z grą inspirowaną światem gier typu sandbox, takich jak Minecraft i Terraria.</p>
    <p>Taskaria Task Manager to narzędzie do zarządzania zadaniami dla osób pracujących nad rozwojem gry.</p>
    <p>Zadania te obejmują różne aspekty projektu, od programowania po projektowanie graficzne i testowanie.</p>
    <p>Za pomocą tego narzędzia możesz śledzić postęp, przypisywać zadania i efektywnie koordynować prace zespołu.</p>
    <p>Rozpocznij zarządzanie zadaniami, <a href="/Task">przejdź do listy zadań</a>.</p>
</div>
